
.contenido{
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 0 25%;
}


.contenido_texto{
    padding: 0px 5%;
}
.contenido_texto_descripcion{
    padding-top: 10px;
    padding-bottom: 10px;
}

.cotenido_boton{
    text-align: center;
}
.contenido_boton_comprar{
    background-color: #ec524c;
    color: white;
    border: 0;
    min-width: 70%;
    padding: 5px;
    margin: 10px 0px;
}

.contenido_boton_carrito{
    background-color: #3f2a7c;
    color: white;
    min-width: 70%;
    border: 0;
    padding: 5px;
    margin: 10px 0px;
}